@font-face {
    font-family: steelfish-italic;
    src: url('steelfish rg it.ttf');
}
div{
    text-align: center;
}
div#clock {
    position: absolute;
    top: 10px;
    width: 95%;
    font-family: steelfish-italic;
    font-size: 45px;
}
div#weather {
    position: absolute;
    top: 55px;
    width: 95%;
    font-family: steelfish-italic;
    font-size: 45px;
    transition: 0s;
}
div#battery {
    position: absolute;
    top: 55px;
    width: 95%;
    font-family: steelfish-italic;
    font-size: 45px;
    transition: 0s;
}
div#date {
    position: absolute;
    top: 55px;
    width: 95%;
    font-family: steelfish-italic;
    font-size: 45px;
    transition: 0s;
}
div#clickarea{
  background-color: transparent;
  height: 500px;
  width: 90%;
}
.info.animate {
   /* -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    */
    margin-left: 100%;
    
    /*text-align: center;*/
}
.info.disappear {
    visibility: hidden;
	margin-left:-100% !important;
}
.info.animatein {
	/*-webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    
    transition: 3s;
    */
    margin-left: 0% !important;
    /*text-align: center;*/
}
.info.center {
	margin-left: 0% !important;
    /*text-align: center;*/
}
.info.animate_revolve1{
  animation: animation1 linear 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}
.info.animate_revolve2{
    animation: animation2 linear 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}
.info.animate_revolve3{
    animation: animation3 linear 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
    transition:3s;
}

@keyframes animation1{
  0% {
    transform:  translate(0%,0px)  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  translate(50%,0px)  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    transform:  translate(25%,0px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@keyframes animation2{
  0% {
    transform:  translate(25%,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  50% {
    transform:  translate(0%,0px)  scaleX(0.25) scaleY(0.25) ;
  }
  100% {
    transform:  translate(-25%,0px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@keyframes animation3{
  0% {
    transform:  translate(-25%,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  50% {
    transform:  translate(-50%,0px)  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    transform:  translate(0%,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
